body {
    background-color: rgb(34, 32, 32);
    color: white;
    font-family: 'roboto', sans-serif;
    
  }

  h3 {
    font-size: .8rem;
  }
  
  section {
    padding: 0rem 6rem;
    margin-bottom: 1rem;
  }
  
  .section-title {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-top: 2rem;
    border: 1px solid #260d6e;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #301934;
    background-color: #36454F;
    &:hover {
      background-color: transparent;
      border: 1px solid #4db5ff;
    }

  }


  .tabs-container {
   border-radius: 5px;
    padding: 3rem;
    background-color: #36454F;
    transition: all 1s ease;
  }
  
  .tabs-container:hover {
    border: 1px solid #4db5ff;
    background: transparent;
  } 
  
  span {
    margin-bottom: 0rem;
    font-size: 0.7rem;
  }
  
  .profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4db5ff; 
    border: 5px solid #3498db;
    &:hover {
      background-color: transparent;
    }
  }
  
  .profile-picture img {
    width: 100%;
  }
  
  .slider-container {
    background-color: transparent;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-bottom: 2rem;
    border: 1px solid #4db5ff;
    transition: color 0.3s ease;
    animation: neon 2s infinite;
    &:hover {
      color: #ffffff;
      background-color: transparent;
    }
    
  }

  
  .rad {
    margin: auto;
    width: fit-content;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  
  .horizontal-bar-chart {
    display: flex;
    flex-direction: column;
  }
  
  .bar-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .bar {
    height: 20px;
    background-color: #36454F;
    border: 1px solid #36454F;
  }
  
  .label {
    margin-left: 8px;
  }

  @keyframes neon {
    0% {
      box-shadow: 0 0 10px #36454F;
    }
    50% {
      box-shadow: 0 0 20px #36454F;
    }
    100% {
      box-shadow: 0 0 10px #19ff55;
    }
  }


.suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

  }
  
  .suggestion-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
 

  }
  
  .suggestion-bar {
    height: 40px;
    background-color: #4db5ff;
    border-radius: 4px;
    flex-grow: 1;

   
  }
  
  .suggestion-label {
    color: white;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    width: 100%;
  }
  .suggestion-bar-container {
    width: 100%;
  }
  
  
  
  @media screen and (max-width: 769px) {
    section {
      padding: 0rem 1rem;
      margin-bottom: 1rem;
    }
    .rad {
      margin: auto;
      width: fit-content;
      margin-top: 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    .bar-chart-container {
        flex-direction: column; 
      }

      .suggestion-bar-container {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
      
      .suggestion-bar {
        height: 40px;
        background-color: #3498db;
        flex-grow: 1;
      }
      .tabs-container {
        padding: 1rem;
      }
        
  .suggestion-bar {
    height: 20px;
    background-color: #3498db;
    border-radius: 0px;
    flex-grow: 1;
  }
  .suggestion-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  .suggestion-label {
    color: white;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    width: 100%;

  }
  .suggestion-bar-container {
    width: 100%;
  }
  .tabs-container>*:nth-child(1){
   
    font-size: .8rem;
    
  }
  .tabs-container {
    height: fit-content;
  }
  }
  






